.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

Header {
  font-size: 25px;
  font-family: 'Patrick Hand SC', cursive;
}

.cropsgrown h2 {
  font-size: 35px;
  font-family: 'Patrick Hand SC', cursive;
}

.crop-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

#soilhistory h3 {
  font-size: 30px;
  font-family: 'Patrick Hand SC', cursive;
}

#updateHistory {
  margin-bottom: 10px;
}

#updateHistory h3 {
  font-size: 30px;
  font-family: 'Patrick Hand SC', cursive;
}

.soillist {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.soillist li {
  list-style: none;
}

.soillist li h4 {
  margin-bottom: -10px;
}

